/*Blueprint specific variables to set*/
$blueprint-font-size: 14px;
$blueprint-grid-columns: 38;
$blueprint-grid-width: 15px;
$blueprint-grid-margin: 10px;
$blueprint_grid_outer_width: 25px;

/*My personal ones*/
$bf-blue: #2A3048;
$bf-yellow: #CFFF4B;
$blueprint-font-family: "georgia", "times", serif;

@import "compass";
@import "compass/reset";
@import "blueprint";

@include reset-html5;
@include blueprint-typography;
@include blueprint-grid;