/*Blueprint specific variables to set*/
$blueprint-font-size: 14px;

/*My personal ones*/
$bf-blue: #2A3048;
$bf-yellow: #CFFF4B;
$blueprint-font-family: "Vollkorn","georgia", "times", serif;

@import "compass";
@import "compass/reset";
@import "blueprint";

@include reset-html5;
@include blueprint-typography;
@include blueprint-grid;
