$resume-hr-color: #DFDFDF;
$resume-section-spacing: 2em;

article#resume {

  > header {
    ul#resources {
      @include float-right;
      @include horizontal-list(10px);

      font-style: normal;

      li + li { border-left: 1px solid $resume-hr-color; }

      li#pdf-download {
        a {
          @include hide-text;

          background: inline-image("pdf_icon.gif") no-repeat center;
          display: block;
          height: image-height("pdf_icon.gif");
          width: image-width("pdf_icon.gif");
        }
      }
    }

    border-bottom: 1px solid $resume-hr-color;
    margin-bottom: $resume-section-spacing;
  }

  > section {

    @include clearfix;

    > h1 {
      @include float-left;
      font-size: 1.8em;
      font-style: italic;
      width: 25%;
    }

    > ul, > p {
      @include float-right;
      margin-right: 1.5em;
      width: 65%;
    }

    + section {
      border-top: 1px solid $resume-hr-color;
      padding-top: $resume-section-spacing;
    }

  }

  section#technical-skillset {
    ul {
      span {
        color: #555;
        font-size: 80%;
      }
    }
  }

  section#work-experience, section#education {

    > ul {

      @include no-bullet;

      > li {
        + li {
          margin-top: 20px;
        }

        h2 {
          font-size: 1.4em;
          margin-bottom: 0;
        }

        h3 {
          @include inline-block;
          color: #999;
          font-size: 1em;

          &:last-child:before {
            content: " | ";
          }
        }

      }
    }

  }
}
