@import "base";
@import "layout";
@import "resume";

article.post {    
  header {
    margin-bottom: 1em;
    time { color: $alt-text-color; }
  }
}

ul.posts {
  time { font-color: $alt-text-color; }
}

section#bio {
  font-size: 150%;
  font-style: italic;
}

#about {
	p#author {
	  @include float-right;
	  margin-left: 20px;
	}

	a#html5-badge {
		@include float-left;		
	}
}