@import "base";
@import "layout";

article.post {    
  header {
    margin-bottom: 1em;
    time { color: $alt-text-color; }
  }
}

ul.posts {
  time { font-color: $alt-text-color; }
}

section#bio {
  font-size: 150%;
  font-style: italic;
}