<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }} - bitfluxx.com</title>
    
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" />
    <link href="/stylesheets/print.css" media="print" rel="stylesheet" />
    <link href="/stylesheets/syntax.css" media="screen, projection" rel="stylesheet" />
    <!--[if IE]>
    <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
  </head>
  
  <body id="{{ page.section }}">
    
    <header id="sitewide">
      <div id="name"><h1><a href="/">bitfluxx</a></h1></div>
      <nav>
        <ul>
          <li id="blog-link"><a href="/blog.html">Blog</a></li>
          <li id="projects-link"><a href="/projects.html">Projects</a></li>
          <li id="about-link"><a href="/about.html">About</a></li>
        </ul>
      </nav>
    </header>
    
    <section id="content">{{ content }}</section>
    
  </body>
</html>